.wrapper {
	width: 1000px;
	height: 100%;
	background-color: #F5F0EB;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	font-family: 'helvetica';
}

h1 {
	text-align: center;
	font-size: 48px;
	color: #330000;
}

.logo {
	text-align: center;
	width: 300px;
	padding: 25px 15px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #EE8262;
}

.about {
	width: 400px;
	text-align: center;
	margin-left: 300px;
	margin-right: 250px;
	/*border: 1px solid black;*/
	color: #330000;
	margin-top: 15px;
}