.wrapper {
	width: 960px;
	height: 100%;
	background-color: #F5F0EB;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	font-family: 'raleway';
}

h1 {
	text-align: center;
	font-size: 48px;
	color: #330000;
}

.logo {
	text-align: center;
	width: 300px;
	padding: 20px 10px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #FF7256;
	border-radius: 3px;
}

.about {
	width: 400px;
	text-align: center;
	margin-left: 280px;
	margin-right: 250px;
	/*border: 1px solid black;*/
	color: #330000;
	margin-top: 25px;
}

.break {
	margin-left: 460px;
	padding-top: 50px;
}

.section_group {
	clear: both;
	padding: 0px;
	margin: 0px;
	height: 1000px;
}

.col {
	display: block;
	float: left;
	margin: 5% 0 1% 11%;
	border: 1px solid black;
	border-radius: 1px;
	width: 175px;
	height: 90px;
	text-align: center;
	padding-top: 75px;
}

.col: first-child {
	margin-left: 0;
}


footer {
	clear: both;
	margin-top: 100px;
	padding-top: 15px;
	padding-bottom: 0px;
	/*padding-left: 200px;*/
	font-weight: bold;
	text-decoration: none;
	color: #330000;
}

.second_break {
	clear: both;
	padding-top: 25px;
	margin-left: 465px;
}

.footer {
	clear: both;
	padding-top: 50px;
	margin-right: 0px;
	text-align: center;
	color: #330000;
}

/* CSS for recipe_one.html*/

.header_background {
	background-image: url();
	width: 960;
	border: 1px solid black;
	padding-top: 50px;
	padding-bottom: 25px;
}

aside {
	float: left;
	font-weight: 500;
	font-size: 22px;
	margin-top: 45px;
	margin-left: 1px;
	width: 200px;
	border: 1px solid black;
}

.recipe {
	width: 700px;
	border: 1px solid black;
	color: #330000;
	margin-left: 258px;
	margin-top: 45px;
}

.recipe_name {
	width: 700px;
	border: 1px solid black;
	font-size: 24px;
	color: #330000;
}

.description_one {
	width: 700px;
	border: 1px solid black;
	color: #330000;
	font-style: italic;
	font-size: 18px;
}

.picture_one {
	width: 700px;
	height: 375px;
	border: 1px solid black;
	text-align: center;
}

.description_two {
	width: 700px;
	border: 1px solid black;
	color: #330000;
	font-style: italic;
	font-size: 18px;
}

.picture_two {
	width: 700px;
	height: 375px;
	border: 1px solid black;
	text-align: center;
}

.picture_three {
	width: 700px;
	height: 375px;
	border: 1px solid black;
	text-align: center;
}

.recipe_pages {
	clear: both;
	margin-top: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	/*padding-left: 200px;*/
	font-weight: bold;
	text-decoration: none;
	color: #330000;
}














